`@model ControladoresCore.ViewModels.RelAsig_RolesDeUsuarios_A_PaginasVM
@using ControladoresCore.Extensiones;
@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-10">

    </div>

</div>

@using (Html.BeginCard("Usuario seleccionado"))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RolDeUsuarioId)
            <div class="col-md-10">

            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Pagina</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Cargar Pagina</th>
                        <th scope="col">Operar Pagina</th>
                        <th scope="col">Ver Anulados</th>
                        <th scope="col">Operaciones Secundarias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Pagina, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Pagina, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RolDeUsuario, new { htmlAttributes = new { @class = "form-control form-check-input" , disabled = "disabled", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.RolDeUsuario, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AutorizadoA_CargarLaPagina, new { htmlAttributes = new { @onclick = "UnckeckAll();", @class = "form-control form-check-input" } })
                                    @Html.ValidationMessageFor(model => model.AutorizadoA_CargarLaPagina, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AutorizadoA_OperarLaPagina, new { htmlAttributes = new { @onclick = "CheckCargar();", @class = "form-control form-check-input" } })
                                    @Html.ValidationMessageFor(model => model.AutorizadoA_OperarLaPagina, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AutorizadoA_VerRegAnulados, new { htmlAttributes = new { @onclick = "CheckCargar();", @class = "form-control form-check-input"} })
                                    @Html.ValidationMessageFor(model => model.AutorizadoA_VerRegAnulados, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AutorizadoA_AccionesEspeciales, new { htmlAttributes = new { @onclick = "CheckCargar();", @class = "form-control form-check-input"} })
                                    @Html.ValidationMessageFor(model => model.AutorizadoA_AccionesEspeciales, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
                

            </table>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @HtmlHelperExtension.Boton("RelAsig_RolesDeUsuarios_A_Paginas","Listado",ViewBag.Seccion)
                            @HtmlHelperExtension.Boton("Update", ViewBag.DatosDeUnaPagina.AutorizadoACargarLaPagina,ViewBag.Seccion)
                        </div>
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>

        </div>
    }
}


<script>
    function CheckCargar() {
        $("#AutorizadoA_CargarLaPagina").prop("checked", true)
    }

    function UnckeckAll() {
        $("#AutorizadoA_OperarLaPagina").prop("checked", false)
        $("#AutorizadoA_VerRegAnulados").prop("checked", false)
        $("#AutorizadoA_AccionesEspeciales").prop("checked", false)
    }
</script>


